<!DOCTYPE html>
<html lang="en">

<head>
  <title>리즈 선생님 페이지</title>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Eduport- LMS, Education and Course Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/choices/css/choices.min.css">

  <!-- Theme CSS -->
  <link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

  <style>
    @media screen and (max-width: 768px) {
      h3 {
        font-size: 21px;
      }

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    
  </style>
<!-- =======================
header START -->
  <header class="navbar navbar-expand-lg navbar-sticky navbar-static bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo img-fluid w-75" src="./assets/images/logo.png" alt="logo_W3">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link pe-6" aria-current="page" href="#scrollspyHeading1">선생님 혜택</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pe-6" aria-current="page" href="#scrollspyHeading2">진행 방법</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pe-6" aria-current="page" href="#scrollspyHeading3">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#scrollspyHeading4">수파자 이야기</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <style>
  @media screen and (min-width: 768px){
    img.logo {
      width: 150px !important;
    }
  }

    .logo {
      max-width: 150px; 
    }

    .navbar a {
      font-size: 16px;
    }

    #navbarNav {
      box-shadow: none;
    }

    #navbarNav.show a {
      padding-right: 0 !important;
    }
  </style>
  <!-- =======================
header END -->

  <!-- =======================
  Main Banner START -->
  <div class="container main-banner">
    <!-- Title -->
    <div class="row align-items-center g-5 pt-4 pt-lg-8">
      <!-- Left content START -->
      <div class="col-lg-7 col-xl-6 col-md-position-relative z-index-1 text-center text-lg-start mb-0 mb-sm-0">
        <!-- Title -->
        <div class="mt-3"></div>
        <h6 class="d-inline text-white bg-dark">방문과외를 위한 올인원 서비스</h6>
        <h1 class="mt-4 fs-xl-9">오직 <span class="text-primary">리즈1960</span>에서만</h1>

        <style>
          .main-banner h1 {
            font-family: 'GmarketSansBold';
          }

        </style>

        <!-- Content -->
        <p class="mt-3"> 선생님이 수업에만 집중할 수 있도록 <br>
          나머지는 저희가 다 해드릴게요!</p>
      </div>
      <!-- Left content END -->

      <!-- Right content START -->
      <div class="col-lg-5 col-xl-6 text-center position-relative mt-0">
        <!-- Image -->
        <div class="position-relative">
          <img class="all ps-4" src="assets/images/element/main_img_tch.png" alt="">
        </div>
      </div>
      <!-- Right content END -->
    </div>
  </div>

  <style>
    h6.bg-dark {
      font-weight: 400;
      padding: 10px 15px;
      border-radius: 10px;
    }

    @media screen and (max-width: 990px) {
      img.all {
        width: 290px;
      }
    }
  </style>
  <!-- =======================
  Main Banner END -->

  <!-- **************** MAIN CONTENT START **************** -->
  <main>

    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true" class="scrollspy" tabindex="0">
      <!-- =======================
    선생님 혜택 + form START -->
      <section id="contact-form" class="position-relative overflow-hidden pt-0 pt-md-5 pb-6">
        <div id="scrollspyHeading1"></div>
        <div class="container">
          <h1 class="text-center mb-5 mt-6">선생님 혜택 3가지</h1>
          <div class="row g-4 g-sm-5 align-items-center">
            <div class="benefit col-lg-6 ps-4">
              <h4>1. 최대 10만원, <br>
                방문 과외하고 있다면 누구나</h4>
              <p class="mb-5">등록 후 과외비를 결제하면 <br>학생 1명당 10만원을 받을 수 있어요.</p>
              <h4>2. 정기 결제, <br>
                과외비 밀릴 걱정 끝</h4>
              <p class="mb-5">과외비 안내 문자,<br> 보내지 않아도 자동으로 </p>
              <h4>3. 수업 일정 알림, <br>
                똑똑한 리마인더
              </h4>
              <p class="mb-5">
                수업 일정 자동 알림으로 <br> 
                수업 일정을 알려드릴께요.
              </p>
            </div>

            <style>
              @media screen and (min-width: 768px) {
                #contact-form .benefit br {
                  display: none;
                }

                .benefit p {
                  padding-left: 30px;
                }
              }
            </style>

            <!-- Contact form START -->
            <div class="col-lg-6">
              <div class="card card-body shadow p-4 p-sm-5 position-relative">

                <!-- Form START -->
                <form class="row g-3 position-relative">
                  <!-- Title -->
                  <div class="col-12 mb-3">
                    <h3>내가 받을 수 있는 <br> 혜택은?</h3>
                  </div>

                  <style>
                    @media screen and (min-width: 768px) {
                      .way br {
                        display: none;
                      }
                    }
                  </style>

                  <!-- 1달 과외비 -->
                  <div class="col-6">
                    <label class="form-label">월 평균 과외비</label>
                    <input id="pay" type="text" class="form-control" aria-label="First name" placeholder=" 300000">
                  </div>

                  <!-- 진행 예정 개월 수 -->
                  <div class="col-6">
                    <label class="form-label">방문 과외 학생 수</label>
                    <input id="count" type="text" class="form-control" aria-label="Last name" placeholder="3">
                  </div>

                  <!-- button -->
                  <div class="col-12 mb-6 mt-4">
                    <button id="cal" type="button" class="btn btn-primary mb-0 fs-6" onclick="calculate(pay, count)">혜택
                      계산하기</button>
                  </div>
                  <!-- 합계 -->
                  <div class="col-12">
                    <div class="mt-3">
                      <h2 class="d-inline">
                        총
                        <span id="total">0</span>
                        원
                      </h2>
                      을 받으실 수 있습니다
                    </div>
                  </div>
                  <div id="scrollspyHeading2"></div>
                </form>

                <script>
                  let pay = 0
                  let count = 0
                  let firstCost = 0
                  let secondCost = 0
                  let thirdCost = 0
                  let total = 0

                  function calculate(pay, month) {
                    pay = document.getElementById('pay').value
                    count = document.getElementById('count').value
                    count = parseInt(count)

                    // 1개월
                    if (pay * 0.25 > 20000) {
                      firstCost = 20000
                    }
                    if (pay * 0.25 < 20000) {
                      firstCost = pay * 0.25
                    }

                    // 2개월
                    if (pay * 0.25 > 30000) {
                      secondCost = 30000
                    }
                    if (pay * 0.25 < 30000) {
                      secondCost = pay * 0.25
                    }

                    //3개월
                    if (pay * 0.25 > 50000) {
                      thirdCost = 50000
                    }
                    if (pay * 0.25 < 50000) {
                      thirdCost = pay * 0.25
                    }


                    let totalCost = parseInt(firstCost) + parseInt(secondCost) + parseInt(thirdCost)
                    let xtotal = totalCost*count
                    console.log(count)
                    console.log(xtotal)
                    document.getElementById('total').innerHTML = xtotal.toString().replace(
                      /\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
                  }
                </script>
                <!-- Form END -->
              </div>
            </div>
            <!-- Contact form END -->
          </div>
        </div>
      </section>

      <style>
        #contact-form {
          background-color: #fbfbfc;
        }
      </style>
      <!-- =======================
    선생님 혜택 + form END -->

      <!-- =======================
    방법 START -->
      <section>
        <div class="container">
          <!-- Title -->
          <div class="row mb-4">
            <div class="way col-sm-10 col-xl-6 text-center mx-auto">
              <h2>이렇게 하면 <br> 받을 수 있어요!</h2>
            </div>
          </div>

          <style>
            @media screen and (min-width: 768px) {
              .way br {
                display: none;
              }
            }
          </style>

          <!-- Work process -->
          <div class="row g-4 g-md-5">
            <!-- Item -->
            <div class="col-md-4 text-center">
              <img src="assets/images/element/create-account.png" class="h-200px" alt="">
              <h4 class="mt-3 mb-3 ">1. 학생에게 공유하기</h4>
              <p class="text-truncate-2 mb-0">학생용 페이지를 참고하세요. <br>
                학생의 혜택과 이용 방법을 알 수 있어요</p>
            </div>

            <!-- Item -->
            <div class="col-md-4 text-center">
              <img src="assets/images/element/add-course.png" class="h-200px" alt="">
              <h4 class="mt-3 mb-3">2. 회원 가입하기</h4>
              <p class="text-truncate-2 mb-0">페이지 하단의 회원가입 버튼을 클릭한 후 <br>
                1분 만에 회원가입을 완료하세요
              </p>
            </div>

            <!-- Item -->
            <div class="col-md-4 text-center">
              <img src="assets/images/element/earn-money.png" class="h-200px" alt="">
              <h4 class="mt-3 mb-3">3. 과외 등록하기</h4>
              <p class="text-truncate-2 mb-0">과외 등록을 완료하면 <br>
                학생에게 결제 요청이 전송됩니다.</p>
            </div>
          </div> <!-- Row END -->
        </div>
      </section>
      <!-- =======================
    방법 END -->

      <!-- =======================
    끝 START -->
      <section class="pt-0 pt-lg-5">
        <div class="container position-relative">
          <div class="row">
            <div class="col-12">
              <div class="p-4 p-sm-5 rounded-3" style="background-color: #2e6cf6;">
                <div class="row position-relative">
                  <div class="col-11 mx-auto position-relative">
                    <div class="row align-items-center">
                      <!-- Title -->
                      <div class="end col-lg-12 text-center">
                        <h3 class="text-white">모든 과정이 끝났습니다!</h3>
                        <p class="text-white mb-3 mb-lg-0">이제 리즈1960의 <br>모든 혜택을 마음껏 누려보세요</p>
                      </div>
                    </div>
                  </div>
                </div> <!-- Row END -->
              </div>
            </div>
          </div> <!-- Row END -->
        </div>
      </section>

      <style>
        @media screen and (min-width: 768px) {
          .end br {
            display: none;
          }
        }
      </style>
      <!-- =======================
    끝 END -->

      <!-- =======================
    학생 page 이동 START-->
      <section class="bg-light">
        <div class="container mt-0 mt-lg-5">

          <!-- Title and SVG START -->
          <div class="row position-relative mb-0 mb-sm-5 pb-5">
            <div class="col-lg-8 text-center mx-auto position-relative">

              <!-- Title -->
              <h1 class="student-benefit mb-4">학생의 혜택은 <br> 무엇인가요?</h1>
              <p class="mb-4">
                아래의 버튼을 눌러 학생용 페이지를 방문하세요 <br>
                학생에게 페이지 링크를 전달하면 설명이 편해져요
              </p>
              <div class="btn btn-primary ps-4 pe-4 ms-1" href="#">학생용 페이지 보기</div>
            </div>
          </div>
          <!-- Title and SVG END -->
        </div>
      </section>

      <style>
        @media screen and (min-width: 768px) {
          .student-benefit br {
            display: none;
          }
        }
      </style>
      <!-- =======================
    학생 page 이동 END -->

      <!-- =======================
    FAQs START -->
      <section class="position-relative overflow-hidden pt-3 pt-sm-6" style="background-color: #fbfbfc;">
        <div class="container">

          <!-- Title -->
          <div class="row position-relative z-index-9">
            <div class="col-12 text-center mx-auto">
              <h1 class="mb-0">FAQ</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 col-xl-8 mx-auto text-center position-relative">
              <!-- FAQ START -->
              <div class="accordion accordion-icon accordion-shadow mt-4 text-start position-relative"
                id="accordionExample2">
                <!-- Item -->
                <div class="accordion-item mb-3">
                  <h5 class="accordion-header font-base" id="heading-1">
                    <button class="accordion-button fw-bold rounded collapsed pe-5" type="button"
                      data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true"
                      aria-controls="collapse-1">
                      학생에게 어떻게 이야기하죠?
                    </button>
                  </h5>
                  <!-- Body -->
                  <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body mt-3">
                      리즈 1960 학생용 안내페이지를 사용해보세요. <br>
                      학생용 안내페이지는 학생이 받을 수 있는 혜택을 설명하는 페이지입니다. <br>
                      해당 페이지 내 '공유하기' 버튼을 클릭하여 학생 측에 전달 해주세요. <br>
                    </div>
                  </div>
                </div>

                <!-- Item -->
                <div class="accordion-item mb-3">
                  <h5 class="accordion-header font-base" id="heading-2">
                    <button class="accordion-button fw-bold rounded collapsed pe-5" type="button"
                      data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false"
                      aria-controls="collapse-2">
                      과외비를 100% 받을 수 있나요?
                    </button>
                  </h5>
                  <!-- Body -->
                  <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body mt-3">
                      네, 받을 수 있습니다. <br>
                      리즈1960에서는 이용수수료를 받지 않으며, <br>
                      선생님이 정한 과외비는 단 1원도 리즈1960에서 가져가지 않습니다. <br>
                      <br>
                      단, 납세의 의무에 따라 과외 정산비용 중 소득세 3.3%가 원천징수된 후 지급됩니다. <br>
                      <br>
                      소득세 신고는 매년 5월 31일, <br>
                      정부에서 시행하는 연말정산 신고를 통해 일부 혹은 전액 환급 받으실 수 있으며, <br>
                      소득세 원천징수로 인해 소득이 인정되는 경우 <br>
                      금융상품 가입, 신용카드 발급 조건 충족, 근로 지원금 등 <br>
                      다양한 혜택을 누리실 수 있습니다.
                    </div>
                  </div>
                </div>

                <!-- Item -->
                <div class="accordion-item mb-3">
                  <h5 class="accordion-header font-base" id="heading-3">
                    <button class="accordion-button fw-bold collapsed rounded pe-5" type="button"
                      data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false"
                      aria-controls="collapse-3">
                      학생 10명의 과외를 등록하면, 100만원 혜택을 받나요? 
                    </button>
                  </h5>
                  <!-- Body -->
                  <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body mt-3">
                      네, 맞습니다. <br>
                      최대 10만원 혜택의 인원 수 제한은 없습니다., <br>
                      등록한 방문과외 갯수만큼 모두 혜택을 받을 수 있습니다. <br>
                      단, 혜택의 정산 방식은 다음과 같으니 아래의 안내를 참고해 주세요. 
                      <br> <br>
                      최대 10만원 혜택은 총 3달에 걸쳐 정산 및 지급됩니다. <br>
                      - 1개월 : 과외 결제 금액 x 25% (단, 최대 2만원) <br>
                      - 2개월 : 과외 결제 금액 x 25% (단, 최대 3만원) <br>
                      - 3개월 : 과외 결제 금액 x 25% (단, 최대 5만원) <br>
                      <br>
                      ※ 방문과외 등록 후, 결제가 완료된 건에 한하여 지급됩니다. <br>
                      ※ 혜택을 포함한 모든 정산금액은 익월 20일 일괄 지급됩니다. (3.3% 소득세 제외)
                    </div>
                  </div>
                </div>
              </div>
              <!-- FAQ END -->
            </div>
          </div>
        </div>
        <div id="scrollspyHeading4"></div>
      </section>
      <!-- =======================
    FAQs END -->

      <!-- =======================
    Story START -->
      <section class="pt-0 pt-lg-5 pb-9">
        <div class="container mt-7text-center">
          <h1 class="text-center mt-4 mb-7">수파자 스토리</h1>
          <div class="row g-4 align-items-center">
            <!-- Left side START -->
            <div class="col-lg-6 ps-4 pe-4">
              <!-- List -->
              <ul class="list-inline vstack gap-4 flex-wrap mb-4">
                <!-- Item -->
                <li class="list-inline-item d-sm-flex">
                  <div class="icon-md text-white rounded flex-shrink-0 shadow">
                    <img src="assets/images/icons/supaja.png" alt="icon">
                  </div>
                  <div class="ms-0 ms-sm-3 mt-3 mt-sm-0">
                    <h5 class="mb-3">교육을 통해 모두의 삶을 바꾸다 <br>
                      교육 혁신기업, 수파자</h5>
                    <p class="mb-0">선명고등공민학교 설립하신, 이홍운 교장 선생님과 이옥자 교감 선생님
                      (수파자 이명호 대표의 父母)의 “모두에게 공정한 교육 기회를 제공하자”는
                      교육이념을 이어받아, 교육과 기술의 힘으로 교육 불평등 없는
                      세상을 만드는 데 앞장서고 있습니다.</p>
                  </div>
                </li>
                <style>
                  @media screen and (min-width: 768px) {
                    br.small {
                      display: none;
                    }
                  }
                </style>
                <hr>
                <!-- Item -->
                <li class="list-inline-item d-sm-flex">
                  <div class="icon-md text-white rounded flex-shrink-0 shadow">
                    <img src="assets/images/icons/bcorp.png" alt="icon">
                  </div>
                  <div class="ms-0 ms-sm-3 mt-4 mt-sm-0">
                    <h5 class="mb-3">업계 유일 비콥인증 <br>
                      검증된 사회적 기업, 수파자</h5>
                    <p class="mb-0">비콥인증이란, 기업이 창출하는 긍정적인 사회적, 환경적 성과를 측정하는 국제적 인증 제도입니다.
                      수파자는 교육불평등 해소를 실천하는 기업으로 사회적 책무성 및 투명성 평가 기준을 통과하여,
                      2022년 6월 기준 국내 교육 업계 유일의 비콥 인증 기업으로 등록되었습니다.
                    </p>
                  </div>
                </li>
                <hr>
                <!-- Item -->
                <li class="list-inline-item d-sm-flex">
                  <div class="icon-md text-white rounded flex-shrink-0 shadow">
                    <img src="assets/images/icons/lees.png" alt="icon">
                  </div>
                  <div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
                    <h5 class="mb-3">이제는 대면과외까지 <br>
                      온/오프라인 통합 과외 플랫폼, 리즈1960</h5>
                    <p class="mb-0">리즈1960의 “Lees”는 현 수파자 CEO 이명호 대표님과 부친이신 이흥운 교장선생님,
                      두 분의 성(姓)인 “Lees”를, 1960은 선명고등공민학교의 설립년도를 뜻합니다. 리즈1960 플랫폼에서 누구나 인생의 멘토를 만나 “리즈시절",
                      즉 인생의 전성기를 찾을 수 있다는 뜻도 함께 담고 있습니다</p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Left side END -->

            <!-- Right side START -->
            <div class="col-lg-6 position-relative">

              <!-- Image -->
              <img src="assets/images/element/20.png" class="rounded-2" alt="">
            </div>
            <!-- Right side END -->
          </div>
        </div>
      </section>
      <!-- =======================
    Story END -->
    </div>
  </main>

  <!-- **************** MAIN CONTENT END **************** -->

  <!-- =======================
Sticky START -->
<div class="container fixed-bottom">
  <div class="width-100">
    <div class="sticky-els rounded bg-white mb-3">
      <div class="p-2 row align-items-center">
        <div class="texts pb-2 col-lg-8 col-sm-12">
          <h6 class="mb-0 ms-3 d-inline">
            지금 가입 하신 분 한해서만 선착순 1000명 수업 등록 가능
          </h6>
        </div>
        <div class="col-lg-4 col-sm-12 align-items-center">
          <div class="btns">
            <button id="thisLink" class="btn btn-outline-primary" onclick="clip();">공유하기</button>
            <button onclick="location.href ='https://www.lees1960.com/tutor/signup/nice/intro'"
              class="btn btn-primary">회원가입</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function clip() {
    let url = ''
    let textarea = document.createElement('textarea')
    document.body.appendChild(textarea)
    url = window.document.location.href;
    textarea.value = url;
    textarea.select()
    document.execCommand('copy')
    document.body.removeChild(textarea)
    alert('현재 페이지 링크가 복사되었습니다!')
  }
</script>

<style>
  .bg-white {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 983px) {
    .container.fixed-bottom {
      width: 100vw;
      height: auto;
      margin: 0;
      padding: 0;
    }

    .width-100 {
      width: 100vw;
    }

    .sticky-els {
      margin-bottom: 0 !important;
    }

    .sticky-els .texts {
      text-align: center;
    }

    .sticky-els h6 {
      margin-left: 0 !important;
    }

    .sticky-els .btns {
      margin: 0 auto;
    }
  }

  .sticky-els .btns {
    padding-top: 4px;
    width: fit-content;
    margin-left: auto;
  }

  @media screen and (max-width: 425px) {
    .sticky-els h6 {
      font-size: 12px;
    }
  }

  .sticky-els button {
    position: relative;
    font-size: 12px;
    width: 120px;
    right: 0px;
    margin: 0px 5px;
  }
</style>


<!-- =======================
Sticky END-->

  <!-- =======================
Footer START -->
  <footer class="bg-dark pt-5">
    <div class="container">
      <!-- Row START -->
      <div class="row g-4">
        <!-- Widget 1 START -->
        <div class="col-lg-3">
          <!-- logo -->
          <a class="me-0" href="/">
            <img class="h-40px" src="assets/images/logo_W3.png" alt="logo">
          </a>
          <p class="my-3 text-muted p-0">
            수파자(주) | 대표이사 : 이명호 <br>
            사업자등록번호 : 361-86-01077 <br>
            통신판매번호 : 2018-서울강남-00930
            <br>서울특별시 강남구 강남대로 382<br> 메리츠타워 17층
          </p>
          <!-- Social media icon -->
          <div class="row g-2 mt-2">
            <div class="col-3 col-sm-4 col-lg-6" style="">
              <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/supaja" target="_blank"> <img
                  src="assets/images/icons/" alt=""> </a>
            </div>


          </div>
        </div>
        <!-- Widget 1 END -->

        <!-- Widget 2 START -->
        <div class="col-lg-6">
          <div class="row g-4">
            <!-- Link block -->
            <div class="col-12 col-md-4 p-lg-0" style="margin: 24px auto;">
              <h5 class="mb-2 mb-md-4 text-white">SUPAJA</h5>
              <ul class="nav flex-column text-primary-hover">
                <li class="nav-item"><a class="nav-link" href="/html/story">회사소개</a></li>
              </ul>
            </div>

            
          </div>
        </div>
        <!-- Widget 2 END -->

        <!-- Widget 3 START -->
        <div class="col-lg-3">
          <h5 class="mb-2 mb-md-4 text-white">고객센터</h5>
          <!-- Time -->
          <p class="mb-2 text-muted">
            <i class="fas fa-phone-alt"></i>
            <span class="h6 ms-1"><a href="tel:02-2135-9632" class="fw-light text-white">02-2135-9632</a></span>
            <span class="d-block small">(월~토 10~17시, 일/공휴일 미운영)</span>
          </p>

          <p class="mb-0 text-muted">
            <i class="fas fa-envelope"></i>
            <span class="h6 ms-1"><a href="mailto:help@supaja.com"
                class="fw-light text-white">help@supaja.com</a></span>
          </p>

          <p class="mb-0 text-muted">
            <a href="http://pf.kakao.com/_EFDTM/chat" target="_blank"><img src="assets/images/icons/kakaotalk-01.png" style="width:16px;"><span
                class="h6 fw-light text-white ms-2">@수파자</span></a>
          </p>
          <div class="" hidden="row g-2 mt-2">
            <!-- Google play store button -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-6">
              <a href="#"> <img src="" alt=""> </a>
            </div>
            <!-- App store button -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-6">
              <a href="#"> <img src="" alt="app-store"> </a>
            </div>
          </div> <!-- Row END -->
        </div>
        <!-- Widget 3 END -->
      </div><!-- Row END -->

      <!-- Divider -->
      <hr class="mt-4 mb-0">

      <!-- Bottom footer -->
      <div class="py-3">
        <div class="container px-0">
          <div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
            <!-- copyright text -->
            <div class="text-muted text-primary-hover"> Copyrights <a href="#" class="text-reset">©2022 SUPAJA</a>. All
              rights reserved. </div>
            <!-- copyright links-->
            <div class=" mt-3 mt-md-0">
              <ul class="list-inline mb-0">
                <li class="list-inline-item text-primary-hover"><a class="nav-link" href="/html/terms/student"
                    target="_blank">이용약관</a></li>
                <li class="list-inline-item text-primary-hover"><a class="nav-link pe-0" href="/html/privacy"
                    target="_blank">개인정보처리방침</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- =======================
Footer END -->

  <!-- Back to top -->
  <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

  <!-- Bootstrap JS -->
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vendors -->
  <script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
  <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
  <script src="assets/vendor/choices/js/choices.min.js"></script>

  <!-- Template Functions -->
  <script src="assets/js/functions.js"></script>
</body>

</html>